<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.easii.tutelary.mapper.PermissionMapper">

    <resultMap id="PermissionResultMap" type="cn.easii.tutelary.bean.entity.PermissionEntity">
    </resultMap>

    <select id="selectPermissionsByUserId" resultMap="PermissionResultMap">
        select p.id,
               p.permission_id,
               p.permission_name,
               p.parent_id,
               p.permission_type,
               p.enable_status,
               p.identification,
               p.remark,
               p.create_time,
               p.create_user_id,
               p.update_time,
               p.update_user_id
        from permission p
                 join role_permission rp on p.permission_id = rp.permission_id
                 join role r on r.role_id = rp.role_id
                 join user_role ur on ur.role_id = r.role_id
        where p.enable_status = 1
          and r.enable_status = 1
          and ur.user_id = #{userId}
    </select>

</mapper>